{% load static %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Api</title>
    <link rel="stylesheet" href="{% static 'css/api.css'%}" type="text/css">
</head>
<body>
<div id="container">
    <div id="time-container">
        <div id="time-box">
            <p>
                Tiempo
            </p>
            <div id="date">
                <p>
                    Día_de_la_semana dd/mm/AAAA
                </p>
            </div>
            <div id="clock">
                <p>
                    Hora hh:mm:ss
                </p>
            </div>
        </div>
    </div>
    <div id="image-container">
        <div class="image-group">
            <img class="imagenUno" src="" alt="Imagen">
            <img class="imagenUno" src="" alt="Imagen">
            <img class="imagenUno" src="" alt="Imagen">
        </div>
        <div class="image-group">
            <img class="imagenDos" src="" alt="Imagen">
            <img class="imagenDos" src="" alt="Imagen">
            <img class="imagenDos" src="" alt="Imagen">
        </div>
    </div>
</div>
</body>
</html>