{% load static %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}" type="text/css">
</head>
<body>
    <div id="agrupador">
        <h1 class="hgroup">Bienvenido</h1>
    </div>

    <script>
        // Establecemos el tiempo de espera en milisegundos
        var tiempoDeEspera = 4000;

        setTimeout(function () {
            // Redirigimos a la nueva direccion después del tiempo de espera
            window.location.href ="api/";
        }, tiempoDeEspera);
    </script>
</body>
</html>